<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Left Sidebar - Solarize by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
		<script src="{{ url_for('static',filename='js/jquery.dropotron.min.js')}}"></script>
		<script src="{{ url_for('static',filename='js/skel.min.js')}}"></script>
		<script src="{{ url_for('static',filename='js/skel-layers.min.js')}}"></script>
		<script src="{{ url_for('static',filename='js/init.js')}}" ></script>
		
		<!--<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>-->
		
		<link  rel="stylesheet" href="{{ url_for('static', filename='css/skel.css')}}"/>
		<link  rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
			<!--<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />-->
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
				<!-- Header -->
					<div id="header">
						<div class="container">
								
							<!-- Logo -->
								<h1><a href="#" id="logo">Solarize</a></h1>
							
							<!-- Nav -->
								<nav id="nav">
									<ul>
										<li class="active"><a href="index.html">Home</a></li>
										<li>
											<a href="">Dropdown</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
												<li>
													<a href="">Phasellus consequat</a>
													<ul>
														<li><a href="#">Lorem ipsum dolor</a></li>
														<li><a href="#">Phasellus consequat</a></li>
														<li><a href="#">Magna phasellus</a></li>
														<li><a href="#">Etiam dolore nisl</a></li>
														<li><a href="#">Veroeros feugiat</a></li>
													</ul>
												</li>
												<li><a href="#">Veroeros feugiat</a></li>
											</ul>
										</li>
										<li><a href="left-sidebar.html">Left Sidebar</a></li>
										<li><a href="right-sidebar.html">Right Sidebar</a></li>
										<li><a href="no-sidebar.html">No Sidebar</a></li>
									</ul>
								</nav>
						</div>
					</div>
			</div>
		
		<!-- Main -->
			<div id="main" class="wrapper style4">
				<div class="container">
					<div class="row">

						<!-- Sidebar -->
						<div id="sidebar" class="4u">
							<section>
								<header class="major">
									<h2>Etiam malesuada</h2>
								</header>									
								<ul class="default">
									<li><a href="#">Pellentesque lectus gravida blandit</a></li>
									<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
									<li><a href="#">Phasellus nibh pellentesque congue</a></li>
									<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
									<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
									<li><a href="#">Phasellus nibh pellentesque congue</a></li>
									<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
								</ul>
							</section>
							<section>
								<header class="major">
									<h2>Mauris vulputate</h2>
								</header>
								<ul class="default">
									<li><a href="#">Pellentesque lectus gravida blandit</a></li>
									<li><a href="#">Lorem ipsum consectetuer adipiscing</a></li>
									<li><a href="#">Phasellus nibh pellentesque congue</a></li>
									<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
									<li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
									<li><a href="#">Phasellus nibh pellentesque congue</a></li>
									<li><a href="#">Cras vitae metus aliquam pharetra</a></li>
								</ul>
							</section>
						</div>

						<!-- Content -->
						<div id="content" class="8u skel-cell-important">
							<section>
								<header class="major">
									<h2>3 bit 過敏原分類器</h2>
									<span class="byline">Nullam non wisi a sem semper eleifend</span>
								</header>
								<p>從已知的過敏原及非過敏原蛋白質序列中，每個位元上胺基酸出現的狀況&排列為基礎，預測一條未知的蛋白質是過敏原or非過敏原</p>
								<p>null</p>
								<form action="/bio_3bit_demo" method="post">
									<label>DNA:</label>
									<input type="textbox" name="username">
									<input type="submit" value="Submit">
								</form>
							</section>
						</div>
					</div>
				</div>
			</div>
		
		<!-- Team -->
			<div class="wrapper style5">
				<section id="team" class="container">
					<header class="major">
						<h2>Team</h2>
						<span class="byline">專題組員</span>
					</header>
					<div class="row">
						<div class="3u">
							<a href="#" class="image"><img src="{{ url_for('static', filename='images/placeholder.png') }}"></a>
							<h3>余榮泰</h3>
							<p>資訊三乙	D0542323</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="{{ url_for('static', filename='images/placeholder.png') }}"></a>
							<h3>張憲忠</h3>
							<p>資訊三乙	D0542129</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="{{ url_for('static', filename='images/placeholder.png') }}"></a>
							<h3>曾郁瑞</h3>
							<p>資訊三乙	D0542961</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="{{ url_for('static', filename='images/placeholder.png') }}"></a>
							<h3>王昱翔</h3>
							<p>資訊三乙	D0543164</p>
						</div>
					</div>
				</section>
			</div>

	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Connect with us</h2>
					<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
				</header>
				<ul class="icons">
					<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li>
				</ul>
				<hr />
			</section>
			
			<!-- Copyright -->
				<div id="copyright">
					Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
				</div>			
		</div>

	</body>
</html>